name: release

on:
  workflow_dispatch:

permissions: {}

jobs:
  release:
    permissions:
      contents: write

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: ./gradlew assembleDebug
    - name: Upload Release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: app/build/outputs/apk/debug/app-debug.apk
        tag: ${{ github.ref }}
